/* main stylesheet for the wausoft website */

$wau-green:  #61bc45;
$wau-yellow: #fcb827;
$wau-orange: #f78222;
$wau-red:    #e2373f;
$wau-purple: #953c96;
$wau-blue:   #009edf;

$faded-gray: #aaa;

@mixin round-corners($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    -ms-border-radius:     $radius;
    border-radius:         $radius;
}

html {
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0;
}

.logo {
    color: $wau-blue;
}

.body {
    margin: 0 32px 0 32px;
}

.box {
    @include round-corners(16px);
    border-color: black;
    border-style: dotted;
    padding: 16px;
}

.warning {
    @include round-corners(16px);
    border-style: solid;
    border-color: $wau-orange;
    padding: 8px;
    background-color: $wau-yellow;
}

p {
    margin: 0;
}

h1, h2, h3, h4 {
    margin-bottom: 0;
}

#caption {
    margin: 0;
}

/** Navigation Bar **/
nav {
    top: 0;
    background-color: $wau-blue;
    color: white;
    font-weight: bold;
    padding: 8px;

    a {
        text-decoration: none;
        font-weight: normal;
    }

    a:visited {
        color:white;
    }

    a:hover {
        text-decoration: underline;
    }
}

/** Footer **/
footer {
    color: $faded-gray;
}
