$highlight: #68d4ff;
$box-color: #222;

@mixin large-text {
    font-size: 14pt;
    color: white;
}

@mixin no-frills {
    background: transparent;
    border: none;
}

html {
    font-family: 'Fira Sans', sans-serif;
}

#input-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    background: rgba($box-color, 0.5);
    
    input {
        width: 100%;
        @include large-text();
        @include no-frills();
        margin: 10px;
    }
}

.item {
    color: $highlight;
    text-decoration: underline;
}

p {
    text-align: center;
    @include large-text();
}