html {
    font-family: 'Fira Sans', sans-serif;
}

#input-bar {
    position: fixed;
    bottom: 0;
    width: 100%; 
    white-space: nowrap;

    input {
        width: 90%;
    }

    button {
        width: 8%;
    }
}

p {
    color: white;
    text-align: center;
    font-size: 14pt;
}