html {
    font-family: "Arial Narrow", sans-serif;
}

body {
    font-size: 200%;
    background-color: black;
    color: white;
    line-height: 60%;
    height: calc(100vh - 20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    padding: 150px;
    height: 220px;
}